{% extends "::baseExpert.html.twig" %}

{% block title %}PiBundle:ConseilE:modifierConseil{% endblock %}

{% block body %}

    <form method="post">
        <fieldset>
            <legend>modifier un conseil </legend>
            <table>
                <tr>
                    <td>Categorie</td>
                    <td>  <select class="custom-select" name="categorie" required>
                            <option value="Maman">Maman</option>
                            <option value="Bébé">Bébé</option>
                            <option value="nourriture">Nourriture</option>
                            <option value="Hygiéne">Hygiéne</option>

                        </select></td>
                </tr>

                <tr>
                    <td>Titre</td>
                    <td><input type="text" name="titre" value="{{ conseils.titre }}"></td>
                </tr>
                <tr>
                    <td>Contenu</td>
                    <td><input type="text" name="contenu" value="{{ conseils.contenu }}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="valider"></td>
                </tr>
            </table>
        </fieldset>
    </form>
{% endblock %}
