<form method="post">
    <fieldset>
        <legend>Postuler en tant que babySitter </legend>
        <table>
            <tr>
                <td>Date disponibilité</td>
                <td><input type="date" name="date_dispo"></td>
            </tr>
            <tr>
                <td>horaire</td>
                <td><input type="text" name="horaire"></td>
            </tr>
            <tr>
                <td>lieux</td>
                <td><input type="text" name="lieux"></td>
            </tr>
            <tr>
                <td>Salaire</td>
                <td><input type="text" name="prix"></td>
            </tr>
            <tr>
                <td>Numero de telephone</td>
                <td><input type="text" name="n_tel"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" name="description"></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" value="valider"></td>
            </tr>
        </table>
    </fieldset>
</form>

