{% extends 'base.html.twig' %}

{% block body %}
    </br>
    </br>

    <ul>
        <li>
            <a class="btn btn-orange" href="{{ path('topic_new') }}">Nouveau</a>
        </li>
    </ul>

    <div class="panel panel-default">
        <div class="panel-heading">Liste des topics</div>
        <div class="panel-body">
            <p>Cliquer sur un topic pour plus de detais</p>
        </div>
        <div class="list-group">
            {% for topic in topics %}
            <a href="{{ path('topic_show', { 'id': topic.id }) }}" class="list-group-item">{{ topic.titre }}
                <span class="badge">{{ topic.idUser }}</span>
            </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}
