
<div class="section-header text-center">
    <h2>Article All for Kids </h2>
</div>

    <br>
    <br>

    <h3>Titre : {{ titre }}</h3>
    <br>
    <br>
    <div class="section-header text-center">
    <p>Contenu : {{ contenu }}</p>
    </div>
<br><br><br>


